
@layer primeng {
    .p-confirm-dialog .p-dialog-content {
        font-size: 16px;
        text-align: center;
        width: 100%;
        color: var(--primary-color);
        min-height: 0px;
        border: none;
        border-radius: 0;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        padding: 0 4rem 1.5rem
    }

    .p-confirm-dialog .p-dialog-header {
        display: flex;
        background-color: #fff;
        color: var(--downriver-50);
        align-items: flex-start;
        padding-bottom: 0
    }

    .p-confirm-dialog .p-dialog-header .p-dialog-title {
        width: 100%;
        margin-top: 50px;
        text-align: center
    }

    .p-confirm-dialog .p-dialog-header .p-dialog-header-icon:last-child {
        color: var(--downriver-50)
    }

    .p-confirm-dialog .p-dialog-footer {
        border-radius: 0 0 12px 12px;
        padding: 2rem;
        display: flex;
        justify-content: center
    }

    .p-confirm-dialog .p-confirm-dialog-icon {
        display: flex
    }

    .p-confirm-dialog .p-button-icon-left {
        display: none
    }

    .p-confirm-dialog .p-button:focus {
        box-shadow: none
    }

    .p-confirm-dialog .p-button-text-icon-left .p-button-text {
        padding: 0
    }

    .p-confirm-dialog .p-confirm-dialog-accept {
        margin: 0 .5em 0 0;
        background: var(--primary-color);
        border-radius: 12px;
        color: #fff;
        outline: none;
        border: none;
        box-shadow: none
    }

    .p-confirm-dialog .p-confirm-dialog-reject {
        outline: none;
        border: none;
        box-shadow: none;
        font-weight: 500;
        font-size: 16px;
        color: var(--primary-color);
        background-color: transparent
    }

    .p-dialog {
        border-radius: 12px;
        box-shadow: none
    }

    .p-dialog .p-dialog-header {
        align-items: flex-start;
        min-height: 100px;
        background: #fff;
        color: #0c3058;
        font-size: 20px;
        padding-bottom: 3rem;
        border-radius: 12px 12px 0 0;
        justify-content: center
    }

    .p-dialog .p-dialog-header .p-dialog-title {
        margin-top: 50px;
        text-align: center;
        font-size: 1.5rem
    }

    .p-dialog .p-dialog-content {
        color: #0c3058;
        padding: 0 4rem 1.5rem;
        border: none;
        margin: 0
    }

    @media (max-width: 1270px) {
        .p-dialog .p-dialog-content {
            padding:0 1.5rem
        }
    }

    .p-dialog .p-dialog-footer {
        border-radius: 0 0 12px 12px;
        border: none
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
        position: absolute;
        left: 0;
        margin: 1.5rem 0 0 1.5rem;
        color: #0c3058
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon:last-child:hover {
        color: #0c3058
    }

    .p-inline-message.p-inline-message-info {
        background: #e4f0ff;
        color: var(--primary-color)
    }

    .p-toast .p-toast-message.p-toast-message-info,.p-message.p-message-info {
        background: #e4f0ff;
        border: solid var(--primary-color);
        color: var(--primary-color);
        border-width: 0 6px 0 0
    }

    .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,.p-inline-message.p-inline-message-info .p-inline-message-icon,.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close,.p-message .p-message-close {
        color: var(--primary-color)
    }

    .p-inline-message.p-inline-message-error {
        color: #d9342b
    }

    .p-toast .p-toast-message-error,.p-message.p-message-error {
        border: solid #d9342b;
        color: #d9342b;
        border-width: 0 6px 0 0
    }

    .p-inline-message.p-inline-message-error .p-inline-message-icon,.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
        color: #d9342b
    }

    .p-message.p-message-close {
        margin-left: 0;
        margin-right: auto
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background: transparent;
        border-radius: 12px 12px 0 0;
        font-weight: 500
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background: transparent;
        border-radius: 12px 12px 0 0;
        font-weight: 700
    }

    .p-tabview .p-tabview-nav {
        background: transparent;
        border-radius: 12px 12px 0 0
    }

    .p-tabview .p-tabview-nav li: not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        background:transparent
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link: not(.p-disabled):focus {
        box-shadow:none
    }

    .footer-shadow.p-dialog .p-dialog-footer,.shadow {
        box-shadow: 0 -6px 14px -7px #687e970d,0 23px 36px 3px #687e9709,0 6px 44px 19px #687e9708
    }

    .p-card {
        box-shadow: none;
        border-radius: .75rem
    }

    .p-card .p-card-body {
        border-radius: 12px;
        padding: 0
    }

    .p-card .p-card-content {
        padding: 0
    }

    .p-tabview .p-tabview-panels {
        background: transparent;
        padding: 0;
        margin-top: 1.75rem
    }

    .no-border .p-tabview-nav li .p-tabview-nav-link {
        border-style: none
    }

    .no-border .p-tabview-nav {
        border-style: none
    }

    .no-border .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        border-style: unset
    }

    .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token .p-autocomplete-token-icon {
        margin-right: .5rem;
        margin-left: unset
    }

    .p-breadcrumb {
        background: none;
        border: none;
        padding: 0
    }

    .p-breadcrumb ul li .p-menuitem-link {
        transition: box-shadow .2s;
        border-radius: 6px
    }

    .p-breadcrumb ul li .p-menuitem-link: focus {
        outline:0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 .2rem #c7d2fe
    }

    .p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon,.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
        color: var(--downriver-50)
    }

    .p-breadcrumb ul li.p-breadcrumb-chevron {
        margin: 0 .5rem;
        color: var(--downriver-50)
    }

    .p-breadcrumb ul li: last-child {
        pointer-events:none
    }

    .p-breadcrumb ul li: last-child .p-menuitem-icon,.p-breadcrumb ul li:last-child .p-menuitem-text {
        color:var(--downriver-40)
    }

    .custom-breadcrumb .pi-chevron-right:before {
        content: "\e900"
    }

    .custom-breadcrumb .pi-chevron-left:before {
        content: "\e901"
    }

    :is() .p-breadcrumb .p-breadcrumb-chevron .p-icon {
        display: none
    }

    :is() .p-breadcrumb .p-breadcrumb-chevron :before {
        content: "\203a";
        font-size: 26px
    }

    .mng-default-menu-layout {
        height: 100%;
        overflow-y: auto;
        padding: 70px 70px 42px
    }

    @media (max-height: 1356px) {
        .mng-default-menu-layout {
            padding:56px 42px 42px
        }
    }
}

@layer bootstrap,primeng;:root {
    --primary-color: #0068F5FF 
}

.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:last-child {
    border-radius: 4px 0 0 4px/4px 0px 0px 4px
}

.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child {
    border-radius: 0 4px 4px 0/0px 4px 4px 0px
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #f7faff;
    border: 2px solid #0068F5
}

.fc-scroller {
    overflow: hidden
}

.mng-form-sub-title {
    margin-top: 30px
}

#annualDistribution .mng-form-sub-title,#productionElectricity .mng-form-sub-title {
    margin-bottom: 10px
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: none;
    padding: .75rem 2rem;
    height: 57px
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-bottom: 4px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color)
}

.p-tabmenu-nav-container {
    position: relative;
    margin-bottom: 15px
}

#myTabMenu .p-tabmenu-nav-container {
    position: relative;
    margin-bottom: 0
}

.ql-editor .ql-font-monospace {
    font-size: 14px;
    font-family: Arial
}

.ql-editor {
    direction: rtl;
    text-align: right
}

.editor-container ol {
    margin: 0 2em
}

.ql-editor li:not(.ql-direction-rtl):before {
    margin-left: 1.5em;
    margin-right: .3em;
    text-align: right
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    right: unset
}

.myDivider .p-divider {
    margin: 0
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
    transform: rotate(180deg)
}

.custom-overlay .p-overlaypanel .p-overlaypanel-content {
    padding-left: 0
}

.custom-overlay .p-overlaypanel:after,.custom-overlay .p-overlaypanel:before {
    content: none
}

.p-multiselect-item.p-disabled {
    pointer-events: none;
    opacity: .5
}

.myCustomSteps .p-steps .p-steps-item .p-menuitem-link {
    background: transparent;
    transition: none;
    border: none;
    background: none
}

#sitesRepeat>div>div>div>fieldset {
    border-radius: 14px;
    direction: rtl;
    background: var(--lara-panel-panel-content-bg, #FFF)
}

#sitesRepeat>div>div>div>fieldset>div:first-child {
    display: none
}

.errorMSG>.valid-error {
    position: relative
}

.date-pass {
    padding: 10.5px 17.5px;
    background: #ffebea;
    font-weight: 400;
    border-radius: 1rem;
    color: #d9342b;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    margin-left: 8px
}

#myMap .bubbleWrapper .layerWrapper {
    border-radius: 14px
}

#myMap .bubbleWrapper {
    border-radius: 14px;
    box-shadow: none
}

#myMap .bubbleWrapper animate-wrapper fromBottom ng-scope {
    border-radius: 14px
}

#bubblesScroll,.layerWrapper,.title layer-header fixed on-top ng-scope {
    border-radius: 14px
}

.main-section {
    padding: 0
}

.prime-color {
    color: var(--blue-500);
    --text-color: #0c3058
}

.p-menu .p-menuitem-link .p-menuitem-icon {
    margin-left: .5rem
}

.threeDots {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

#dialogMap>iframe {
    border-radius: 14px
}

.btn_dashboard>button {
    width: 105px;
    height: 105px;
    border-radius: 28px
}

.p-dock .p-dock-action {
    height: 100%;
    width: 100%
}

p-badge>span {
    display: none
}

.p-dock {
    position: relative;
    width: -moz-fit-content;
    width: fit-content
}

.p-dock .p-dock-list {
    padding: 0
}

.p-dock-item-prev,.p-dock-item-next {
    transform: scale(1.1);
    margin: 0 .4rem
}

.p-dock-item-current {
    transform: scale(1.2);
    margin: 0 .6rem
}

.p-dock-item-second-prev,.p-dock-item-second-next {
    transform: scale(1);
    margin: 0 .2rem
}

#projectDetails mng-side-menu {
    padding: 0 18px
}
