@layer primeng {
    .mng-default-menu-layout {
        height: 100%;
        overflow-y: auto;
        padding: 70px 70px 42px
    }

    @media (max-height: 1356px) {
        .mng-default-menu-layout {
            padding:56px 42px 42px
        }
    }
}

@layer bootstrap,primeng;:root {
    --primary-color: #0068F5FF 
}
